# IntelliJ IDEA
.idea/
*.iml
*.iws
out/
# Scala build
target/
lib_managed/
src_managed/
project/target/
project/project/
# OS files
.DS_Store
Thumbs.db
# Logs
*.log
# SBT
.cache/
.history/
.ensime*
.worksheet
.bsp
# VS Code
.vscode/
DATA/
*.db